:root {
  --purple-color: #b68dff;
  --blue-color: #34dbff;
  --cyan-color: #30cff1;
  --yellow-color: #ffdb22;
  --green-color: #80de5f;
  --pink-color: #ff9bcb;
  --white-color: #ffffff;
  --black-color: #000000;
  --black-2-color: #1a1a1a;
  --gray-middle-color: #a8a8a8;
  --dark-gray: #919fa9;
  --deep-blue-color: #170586;
  --gray-color: #898989;
  --gray-2-color: #5b5b5b;
  --gray-3-color: #b3b3b3;
  --gray-4-color: #7d7d7d;
  --light-gray: #e2e6e9;
  --red-color: #ff4141;
  --silver-color: #f8f8f8;
  --gray-thin-color: #f1f1f1;
  --gray-thick-color: #f5f5f5;
  --silver-thin-color: #fdfdfd;
  --aqua-color: #34bdff;
  --header-1: 400 90px/1 "ALS Haus";
  --header-2: 400 64px/68px "ALS Haus";
  --header-3: 400 44px/56px "ALS Haus";
  --header-4: 500 24px/31.2px "ALS Haus";
  --caption: 400 24px/31.87px "ALS Haus";
  --paragraph: 400 20px/28px "Inter";
  --landing-width: 1360px;
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  src: url("fonts/Inter/static/Inter-Regular.ttf");
}

@font-face {
  font-display: swap;
  font-family: "Lato";
  src: url("fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-display: swap;
  font-family: "ALS Haus";
  src: url("fonts/Haus/ALS_Hauss-Regular.otf");
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.page {
  overflow-x: hidden;
}

.content {
  width: 100%;
  text-overflow: ellipsis;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--black-color);
  position: relative;
}

.pageBlock {
  max-width: var(--landing-width);
  margin: 0 auto;
}

.primaryBtn {
  color: var(--white-color);
  background-color: var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0;
  border-radius: 200px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.75s ease;
}

.primaryBtn-large {
  width: 216px;
  padding: 24px 32px;
  font: 600 24px/29.05px "Inter";
}

.primaryBtn-medium {
  width: 175px;
  padding: 20px 32px;
  font: 600 20px/24.2px "Inter";
}

.primaryBtn-small {
  width: 151px;
  padding: 10px 20px 10px 20px;
  font: 400 16px/21.25px "ALS Haus";
}

.primaryBtn-disabled {
  background-color: var(--gray-thin-color);
  color: var(--dark-gray);
}

.primaryBtn:hover {
  background-color: var(--black-2-color);
}

.secondaryBtn {
  color: var(--black-color);
  background-color: var(--gray-thin-color);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  padding: 20px 32px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0;
  border-radius: 200px;
  text-align: center;
  cursor: pointer;
}

.secondaryBtn:hover,
.secondaryBtn:active {
  color: var(--white-color);
  background-color: var(--purple-color);
}

.form-checkbox {
  display: inline-flex;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  border: 1px solid var(--light-gray);
  border-radius: 6px;
  user-select: none;
}

.form-checkbox__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.link {
  color: var(--black-color);
  font: 400 16px/21.25px sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.link:hover,
.link:active {
  color: var(--aqua-color);
}

.form-checkbox:hover,
.form-checkbox:focus {
  border-color: var(--purple-color);
}

.form__checkbox-label input:checked ~ .form-checkbox {
  background-image: url("data:image/svg+xml;utf8,<svg width='24' height='24' viewBox='002424' fill='none' xmlns='http://www.w3.org/2000/svg'><rect width='24' height='24' rx='6' fill='%23B68DFF'/><path d='M7.33203 12.6667L9.9987 15.3334L16.6654 8.66675' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
}

.countrySelector {
  position: absolute;
  left: 32px;
  top: 32px;
  z-index: 5;
  padding: 16px;
  border-radius: 190px;
  background-color: var(--gray-thin-color);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  align-items: center;
  max-width: fit-content;
  white-space: nowrap;
}

.flagIcon {
  margin-right: 12px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.counrySelector__option {
  display: flex;
  align-items: center;
}

.flagIcon-USA {
  background-image: url("./images/icons/USAflag.svg");
}

.flagIcon-Canada {
  background-image: url("./images/icons/Canadaflag.svg");
}

.flagIcon-Australia {
  background-image: url("./images/icons/Australiaflag.svg");
}

.formInput {
  width: 422px;
  border: 1px solid var(--light-gray);
  border-radius: 16px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  padding: 20px;
  box-shadow: none;
}

.modal__description {
  color: var(--gray-2-color);
  text-align: center;
}

.formInput:hover,
.formInput:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--purple-color);
}

.formInput:invalid {
  outline: none;
  box-shadow: 0 0 0 2px var(--red-color);
}

.cookies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 330px;
  bottom: 40px;
  left: calc(50% - 165px);
  border-radius: 120px;
  padding: 20px 20px 20px 32px;
  background-color: var(--white-color);
  z-index: 11;
}

.cookies__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--black-color);
}

.cookies__btn {
  padding: 12px 20px 8px 20px;
  background-color: var(--black-color);
  color: var(--white-color);
  border-radius: 80px;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0em;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-opened {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__closeBtn {
  position: fixed;
  top: 46px;
  right: 46px;
  display: flex;
  width: 26px;
  height: 26px;
}

.modal__form {
  display: none;
  padding: 44px;
  background-color: var(--white-color);
  border-radius: 30px;
}

.modal__form-show {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.line {
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: var(--white-color);
  transform: translate(-5px, 12px) rotate(-45deg);
}

.modal__closeBtn:after {
  content: "";
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: var(--white-color);
  transform: translate(-5px, 12px) rotate(45deg);
}

.title {
  font-family: "ALS Haus";
  font-size: 64px;
  font-weight: 400;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: left;
}

.description {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.description-gray {
  color: var(--gray-2-color);
}

.headerContainer {
  width: 100vw;
  background-color: var(--purple-color);
  min-height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  max-width: 1360px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__link-mobile {
  font-family: "ALS Haus";
}

.loginBlock-btn {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.header__navigation__logo {
  padding-right: 8px;
}

.header__navigation {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__navigation-mobile {
  display: none;
  transition: all 0.5s ease;
}

.header__logo {
  padding-right: 20px;
}

.header__navlist-closed {
  display: none;
  transform: translateY(-700px);
}

.header__navlist-opened {
  display: flex;
  flex-direction: column;
  height: 600px;
  padding: 0 20px;
  transform: translateY(0);
}

.menu__mobile {
  width: 20px;
  height: 26px;
  border: none;
  background-color: var(--purple-color);
  padding: 0;
  margin: 0;
}

.menu__icon,
.menu__mobile:before,
.menu__mobile:after {
  background: var(--black-color);
  content: "";
  display: block;
  height: 2px;
  border-radius: 10px;
  margin: 5px 0;
  transition: 0.5s;
}

.menu__mobile-opened .menu__icon {
  transform: scale(0);
}
.menu__mobile-opened:before {
  transform: translateY(8px) rotate(135deg);
}
.menu__mobile-opened:after {
  transform: translateY(-6px) rotate(-135deg);
}

.header__buttonBlock-mobile {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__links-mobile {
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header__link-mobile {
  font-size: 44px;
  line-height: 58px;
  letter-spacing: 0em;
  color: var(--white-color);
  text-decoration: none;
}

.header__loginBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.header__loginBlock-mobile {
  margin-top: 153px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.earnMoneyBlockContainer {
  min-height: 647px;
  width: 100vw;
  background-color: var(--purple-color);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.earnMoneyBlock {
  width: 100%;
  max-width: 1360px;
  height: 647px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.earnMoneyBlock__info {
  padding-right: 135px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.earnMoneyBlock__description {
  margin-top: 32px;
  font: var(--caption);
  color: var(--white-color);
  padding-bottom: 50px;
}

.earnMoneyBlock__imageContainer {
  position: relative;
}

.earnMoneyBlock__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-clip-path: url(#my-clip-path);
  clip-path: url(#my-clip-path);
}

.svg {
  position: absolute;
  width: 0;
  height: 0;
}

.aboutSurveysContainer {
  width: 100vw;
  min-height: 1080px;
  background-image: url("./images/Rose.png");
  background-size: 50% 75%;
  background-repeat: no-repeat;
  background-position: right 70%;
}

.aboutSurveys {
  margin: 0 auto;
  padding-top: 135px;
  min-height: 1030px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aboutSurveys__infoBlock {
  display: flex;
  flex-direction: column;
}

.makeCharityBlock {
  margin-right: 80px;
}

.aboutSurveys__title {
  max-width: 410px;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
}

.aboutSurveys__description {
  max-width: 410px;
  margin-top: 12px;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 44px;
  letter-spacing: 0em;
  color: var(--gray-color);
}

.aboutSurveys__description-medium {
  padding-right: 78px;
}

.easyToEarnBlock__adBlock {
  width: 50vw;
  height: 670px;
  background-repeat: no-repeat;
  background-image: url("./images/handWithPhone.png");

  background-position: right bottom;
}

.easyToEarnBlock__title {
  margin-left: 130px;
}

.easyToEarnBlock__description {
  margin-left: 130px;
  padding-bottom: 0;
}

.easyToEarnBlock {
}

.aboutSurveys__infoWrapper {
  width: 583px;
  position: relative;
  background-image: url("./images/Charity.png");
  background-size: cover;
  aspect-ratio: 53/55;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in;
  border-radius: 32px;
}

.aboutSurveys__infoWrapper:hover {
  box-shadow: inset 0 0 0 40px rgba(255, 255, 255, 0.7);
}

.aboutSurveys__infoWrapper:hover .aboutSurveys__infoCard {
  transform: scale(0.9);
}

.aboutSurveys__infoCard {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  border-radius: 32px;
  /* background-color: transparent; */
  z-index: 2;
}

.aboutSurveys__infoText {
  color: var(--silver-color);
  padding: 32px;
  letter-spacing: 0em;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0));
  border-radius: 32px;
}

.infoCard__title {
  font-family: "Inter";
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
}

.infoCard__description {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: var(--white-color);
  max-width: 322px;
}

.infoCard__descriptionBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.makeCharityBlock__description {
  max-width: 508px;
}

.infoCard__link {
  font-family: "ALS Haus";
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--silver-thin-color);
  text-decoration: none;
}

.link__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
}

.link__icon {
  background-image: url("./images/icons/arrow.svg");
  width: 21px;
  height: 17px;
  margin-left: 16px;
  background-size: cover;
  background-repeat: no-repeat;
}

.simpleAsOneBlock {
  width: 100%;
  min-height: 528px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.simpleAsOneBlock__title {
  font: var(--header-3);
  color: var(--black-color);
}

.simpleAsOneBlock__text {
  font: var(--paragraph);
  color: var(--gray-middle-color);
  margin-top: 8px;
}

.simpleAsOneBlock__infoCards {
  width: 100%;
  margin-top: 44px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 305px);
  grid-template-rows: 292px;
  gap: 20px;
}

.simpleAsOneBlock__infoCard {
  height: 292px;
  border-radius: 20px;
  background-color: var(--silver-color);
  background-repeat: no-repeat;
  background-position: right bottom;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
}

.simpleAsOneBlock__infoCard:hover {
  transition: 0.3 all ease;
  transform: scale(1.05);
}

.simpleAsOneBlock__infoCard-first {
  background-image: url("./images/FirstCard.png");
}

.simpleAsOneBlock__infoCard-second {
  background-image: url("./images/SecondCard.png");
}

.simpleAsOneBlock__infoCard-third {
  background-image: url("./images/ThirdCard.png");
}

.simpleAsOneBlock__infoCard-forth {
  background-image: url("./images/ForthCard.png");
}

.simpleAsOneBlock__cardTitle {
  font-family: "ALS Haus";
  font-size: 32px;
  max-width: 192px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--deep-blue-color);
}

.simpleAsOneBlock__cardText {
  font-family: "Inter";
  max-width: 192px;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.talkingAboutBlockContainer {
  width: 100vw;
  min-height: 617px;
  padding: 123px 0;
  background-color: var(--cyan-color);
  background-image: url("./images/talkingAboutBack.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid var(--cyan-color);
  border-radius: 50px;
  color: var(--white-color);
}

.talkingAboutBlock {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--landing-width);
  background-image: url("./images/TalkingBubble.png");
  background-position: 80% 100%;
  background-repeat: no-repeat;
  align-items: center;
  text-align: center;
}

.talkingAboutBlock__title {
  font-size: 64px;
  line-height: 85px;
  font-style: normal;
  font-weight: 400;
}

.talkingAboutBlock__description {
  font-size: 24px;
  line-height: 32px;
  margin-top: 8px;
}

.talkingAboutBlock__counterBlock {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.talkingAboutBlock__counterTitle {
  font-family: "ALS Haus";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.counter {
  font-family: "ALS Haus";
  font-size: 180px;
  font-weight: 500;
  line-height: 239px;
  letter-spacing: 0em;
  text-align: center;
  height: 180px;
  overflow: hidden;
  display: flex;
}

.sign {
  line-height: 1em;
}

.digits {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 1em;
  line-height: 1em;
  margin-top: 0;
  transition: all 2s ease;
}

.talkingAboutBlock__counterText {
  font-family: "Inter";
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 70px;
}

.compainsBlock {
  width: 100%;
  min-height: 1330px;
  display: grid;
  grid-template-areas: "info btnGroup" "slider slider";
  gap: 44px;
  padding: 100px 0 120px 0;
  align-items: flex-end;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.compainsBlock__header {
  width: 100%;
  max-width: 680px;
  grid-area: info;
}

.caption {
  font-family: "ALS Haus";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
}

.caption-gray {
  color: var(--gray-color);
}

.compainsBlock__title {
  margin-top: 16px;
}

.compainsBlock__description {
  margin-top: 12px;
  color: var(--gray-2-color);
}

.btnGroup {
  display: flex;
  justify-content: space-between;
}

.compainsBlock__btnGroup {
  grid-area: btnGroup;
  justify-content: flex-end;
}

.compainsBlock__secondaryBtn {
  width: 234px;
  padding: 20px 32px;
  margin-right: 24px;
}

.compainsBlock__primaryBtn {
  width: 219px;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  padding: 20px 32px;
}

.slider {
  grid-area: slider;
  width: 100%;
  background-color: var(--silver-thin-color);
  min-height: 813px;
  border-radius: 50px;
}

.trustedBlock {
  min-height: 420px;
}

.block-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trustedBlock__title {
  max-width: 488px;
  font-size: 44px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: center;
}

.trustedBlock__description {
  max-width: 488px;
  line-height: 32px;
  text-align: center;
  margin-top: 10px;
}

.logosList {
  max-width: 812px;
  margin: 44px 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.logosList__logo {
  padding: 20px 17px;
}

.getPaidBlock {
  width: 100%;
  min-height: 1190px;
  background-image: url("./images/getPaidBackground.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 95%;
}

.getPaidBlock__title {
  margin-top: 420px;
  max-width: 460px;
  text-align: center;
  font-size: 90px;
  line-height: 90px;
}

.getPaidBlock__description {
  margin-top: 12px;
  max-width: 380px;
  text-align: center;
}

.getPaidBlock-btn {
  margin-top: 80px;
  width: 213px;
  border-radius: 131px;
  padding: 20px 32px;
  font-size: 20px;
  line-height: 24px;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 200px;
  padding: 55px 0 40px 0;
  background-color: var(--gray-thick-color);
}

.logoAndCreds {
  width: 246px;
  max-width: 246px;
}

.footer {
  display: flex;
  flex-direction: row;
  gap: 140px;
  width: 100%;
}

.footer__logoImg {
  width: 246px;
}

.footer__copyrights {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 26px;
}

.footer__caption {
  font-family: Lato;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--gray-3-color);
}

.footer__socialBlock {
  max-width: 155px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__socialText {
  color: var(--gray-4-color);
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0em;
}

.footer__docLink {
  font-family: Lato;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.footer__documents {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.socialMediaLinks {
  display: flex;
  align-items: center;
  gap: 29px;
}

.socialLink {
  width: 26px;
  height: 26px;
}
.socialIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cookies-hide {
  display: none;
}

.socialIcon:hover path {
  stroke: var(--purple-color);
  fill: var(--purple-color);
}

.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: flex-start;
}

.footer__contactTitle {
  font-size: 20px;
  line-height: 27px;
  color: var(--gray-4-color);
}

.footer__contactBtn {
  padding: 16px 24px;

  width: 133px;
  border-radius: 131px;
}

.page__footer {
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.slider-wrapper {
  height: 813px;
}

.slider-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}

.slide-1 {
  background-image: linear-gradient(
      225deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),
    url("./images/slides/slide-1.jpg");
}

.slide-2 {
  background-image: linear-gradient(
      225deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),
    url("./images/slides/slide-2.jpg");
}

.slide-3 {
  background-image: linear-gradient(
      225deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),
    url("./images/slides/slide-3.jpg");
}

.slide-4 {
  background-image: linear-gradient(
      225deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),
    url("./images/slides/slide-4.jpg");
}

.slide-5 {
  background-image: linear-gradient(
      225deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),
    url("./images/slides/slide-5.jpg");
}

.slider__info {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 250px 80px 91.6px 185px;
  width: auto;
  max-width: 75.5%;
  height: fit-content;
  color: var(--white-color);
  word-wrap: break-word;
  background-image: url("./images/bubble.svg");
  background-repeat: no-repeat;
  text-align: left;
}

.slider__caption {
  max-width: 544px;
  display: flex;
  font-family: "ALS Haus";
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: inherit;
}

.progressBarContainer {
  position: absolute;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
  z-index: 1;
  width: 60px;
  height: 60px;
}

.progressBar-circular {
  fill: none;
  stroke-width: 4px;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.slider__title {
  font-size: 64px;
  line-height: 71px;
  margin-top: 12px;
  max-width: 544px;
  max-height: 284px;

  text-align: inherit;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  position: relative;
}

.slider__pagination {
  position: absolute;
  left: 50px !important;
  bottom: 35px !important;
  z-index: 5;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.slider__bullet {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 6;
}

.slider__bullet-active {
  z-index: 5;
}

@keyframes progress-fill {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 1;
  }
}

.slider__bullet-active .progressBar-circular {
  stroke-dasharray: 360;
  stroke-dashoffset: 1;
  stroke: var(--white-color);
  animation: progress-fill 21.5s linear;
}

.bullet-1 {
  background-image: url("./images/slides/slide-1.jpg");
}

.bullet-2 {
  background-image: url("./images/slides/slide-2.jpg");
}

.bullet-3 {
  background-image: url("./images/slides/slide-3.jpg");
}

.bullet-4 {
  background-image: url("./images/slides/slide-4.jpg");
}

.bullet-5 {
  background-image: url("./images/slides/slide-5.jpg");
}

.slider__description {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  margin-top: 10px;
  max-width: 544px;
  text-align: inherit;
  font-weight: 500;
  font-family: "ALS Haus";
}

.slider__link {
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: inherit;
  color: var(--white-color);
  margin-top: 32px;
}

.slider-image {
  height: inherit;
  position: relative;
}

.contactForm__title {
  max-width: 422px;
}

.contactForm__text {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 7px;
  padding-bottom: 32px;
  color: var(--gray-2-color);
}

.form__checkbox-label {
  color: var(--gray-2-color);
  font-family: "Inter";
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0em;
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}

.contactForm__primaryBtn {
  width: 100%;
}

.formInput:not(:invalid):not(:placeholder-shown)
  + .formInput:not(:invalid):not(:placeholder-shown)
  ~ .contactForm__primaryBtn {
  background-color: var(--black-color);
  color: var(--white-color);
}

.page__contactAnswer {
  padding-top: 219px;
  background-repeat: no-repeat;
  background-image: url("./images/handSmall.png");
  background-size: 30%;
  background-position: center 18%;
}

.contactAnswer__title {
  font-family: "ALS Haus";
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
}

.contactAnswer__description {
  margin-top: 8px;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
}

.contactAnswer__btn {
  width: 100%;
  margin-top: 32px;
}

.page__loginForm {
  text-align: center;
}

.loginForm__title {
  padding: 0 20px;
  max-width: 422px;
}

.earnMoneyBlock__title {
  margin-top: 60px;
  font: var(--header-1);
  color: var(--white-color);
}

.modal__title {
  font-family: "ALS Haus";
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
}

.loginForm__description {
  max-width: 422px;
  line-height: 32px;
  text-align: center;
  color: var(--gray-2-color);
  padding: 0 80px;
}

.loginForm__cases {
  margin-top: 32px;
}

.authBtnGroup {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
}

.authBtnGroup__button {
  width: 130px;
  height: 56px;
  border: 1px solid var(--light-gray);
  border-radius: 16px;
  background-color: var(--white-color);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding-left: 40px;
  position: relative;
  cursor: pointer;
}

.authBtnGroup__button-google:before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: 4px;
  top: 8px;
  background-image: url("./images/icons/Google.png");
}

.authBtnGroup__button-apple:before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: 4px;
  top: 8px;
  background-image: url("./images/icons/Apple.png");
}

.authBtnGroup__button-facebook:before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: 4px;
  top: 8px;
  background-image: url("./images/icons/Facebook WC.png");
}

.loginForm__caption {
  margin-top: 32px;
  padding-bottom: 32px;
}

.recoveryForm__description {
  margin-top: 8px;
  padding: 20px;
  text-align: center;
}

.page__recoveryForm {
  max-width: 510px;
}

.text-lined {
  position: relative;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: var(--dark-gray);
}

.text-lined:after {
  position: absolute;
  top: 8.5px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--dark-gray);
  z-index: 1;
}

.text-lined__captionText {
  z-index: 2;
  position: absolute;
  left: calc(50% - 38px);
  background-color: var(--white-color);
  padding: 0 5px;
}

.text-marked {
  color: var(--black-color);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  padding-left: 0.5em;
}

.loginForm__forgotPassLink {
  padding-bottom: 8px;
  display: inline-flex;
  align-self: center;
  cursor: pointer;
}

.formInput__passwordWrapper {
  display: inline-flex;
  position: relative;
  width: 422px;
}

.loginForm__primaryBtn {
  width: 100%;
}

.formInput:not(:invalid):not(:placeholder-shown)
  + .formInput__passwordWrapper[data-validated="true"]
  ~ .loginForm__primaryBtn {
  background-color: var(--black-color);
  color: var(--white-color);
}

.formInput:not(:invalid):not(:placeholder-shown) ~ .recoveryForm__primaryBtn {
  background-color: var(--black-color);
  color: var(--white-color);
}

.formInput:not(:invalid):not(:placeholder-shown)
  + .formInput__passwordWrapper[data-validated="true"]
  ~ .registrationForm__primaryBtn {
  background-color: var(--black-color);
  color: var(--white-color);
}

.loginForm__footer {
  margin-top: 0;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--gray-2-color);
}

.loginForm__createAccLink {
  cursor: pointer;
}

.recoveryForm__input {
  margin-top: 8px;
  margin-bottom: 8px;
}

.recoveryForm__primaryBtn {
  width: 100%;
}

.recoveryForm__footer {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--gray-2-color);
}

.recoveryForm__backToLogin {
  color: var(--black-color);
  cursor: pointer;
}

.registrationForm__title {
  max-width: 422px;
  text-align: center;
}

.registrationForm__description {
  margin-top: 8px;
  max-width: 422px;
  padding: 0 80px;
  text-align: center;
}

.registrationForm__cases {
  margin-top: 32px;
}

.registrationForm__caption {
  margin-top: 32px;
  margin-bottom: 32px;
}

.registrationForm__primaryBtn {
  width: 100%;
}

.registrationForm__footer {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}

.registrationForm__loginLink {
  font-weight: 500;
  cursor: pointer;
}

.registrationForm__loginLink:hover {
  color: var(--purple-color);
}

.icon {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-size: cover;
}

.passwordVisibility-btn {
  position: absolute;
  right: 20px;
  top: 20px;
}

.password-show {
  background-image: url("./images/icons/eyeOpened.svg");
}

.password {
  background-image: url("./images/icons/eyeClosed.svg");
}

@media screen and (max-width: 1380px) {
  .earnMoneyBlock__info {
    padding-right: 0;
    padding-left: 20px;
  }
  .earnMoneyBlock__description {
    padding-bottom: 30px;
  }
  .header {
    padding-right: 20px;
    padding-left: 20px;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
  .compainsBlock__header {
    padding-left: 20px;
  }
  .compainsBlock__btnGroup {
    padding-right: 20px;
  }
  .aboutSurveys {
    width: 100%;
    gap: 80px;
  }
  .simpleAsOneBlock__infoCards {
    grid-template-columns: repeat(2, 305px);
    grid-template-rows: repeat(2, 292px);
    justify-content: center;
  }
}

.text-icon {
  padding: 0 5px;
  display: inline-block;
  vertical-align: middle;
}

@media screen and (max-width: 1180px) {
  .easyToEarnBlock__adBlock {
    width: 60vw;
  }
}

@media screen and (max-width: 1023px) {
  .earnMoneyBlockContainer {
    min-height: 578px;
    height: 578px;
  }
  .earnMoneyBlock {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: auto;
    max-height: 578px;
    gap: 0;
  }
  .logosList__logo {
    padding: 10px 0;
  }
  .logo-image {
    max-width: 80%;
  }

  .modal__title {
    max-width: 90%;
  }

  .modal__description {
    max-width: 90%;
  }

  .modal__form {
    max-width: 95%;
    padding: 44px 10px;
    margin-top: 60px;
  }

  .authBtnGroup__button {
    width: 100%;
  }

  .formInput {
    width: 100%;
  }

  .formInput__passwordWrapper {
    width: 100%;
  }

  .registrationForm__cases {
    max-width: 100%;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
    justify-content: flex-start;
  }

  .registrationForm__description {
    padding: 0 20px;
  }

  .authBtnGroup__button-google:before,
  .authBtnGroup__button-facebook:before,
  .authBtnGroup__button-apple:before {
    left: calc(50% - 80px);
  }

  .modal__closeBtn {
    position: absolute;
    top: 18px;
    right: 18px;
  }

  .authBtnGroup {
    flex-direction: column;
  }

  .earnMoneyBlock__title {
    font-size: 32px;
    line-height: 40px;
    margin-top: 28px;
  }
  .earnMoneyBlock__info {
    padding-right: 60px;
    align-items: center;
  }
  .earnMoneyBlock__description {
    font-size: 16px;
    line-height: 22px;
    margin-top: 8px;
    padding-bottom: 20px;
  }
  .primaryBtn-large {
    width: 35%;
    min-width: 129px;
    height: 51px;
    font-size: 16px;
    line-height: 19px;
    padding: 16px 20px;
  }
  .primaryBtn-small {
    width: 123px;
    font-size: 12px;
    line-height: 16px;
  }
  .btn-fullwidth {
    width: 100%;
    padding: 20px 32px;
  }
  .header-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .pageBlock {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    max-width: 100%;
  }
  .header {
    display: none;
  }

  .modal {
    /* position: absolute;
    bottom: initial;
    align-items: flex-start; */
  }

  .page__registrationForm,
  .page__loginForm {
    max-height: 100vh;
    overflow-y: scroll;
  }

  .slider__title {
    font-size: 32px;
    line-height: 42px;
    max-height: 168px;
    width: 100%;
  }

  .slider__info {
    padding: 62px 20px 102px 20px;
    right: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    background-position: 61% 0;
    text-align: center;
  }

  .slider__caption {
    flex-direction: column-reverse;
    font-size: 16px;
    line-height: 21px;
    width: 100%;
  }

  .easyToEarnBlock__adBlock {
    width: 100vw;
    height: 570px;
    background-position: 55%;
    margin-left: -20px;
    background-image: url("./images/littlePhoneHand.png");
    background-size: contain;
  }

  .slider__description {
    font-size: 16px;
    line-height: 21px;
    width: 100%;
  }

  .slider__link {
    font-family: "ALS Haus";
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 335px;
  }

  .slider__pagination {
    left: 20px !important;
  }

  .headerContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
  .header__logo {
    max-width: 137px;
    display: flex;
  }
  .header__navigation-mobile {
    width: 100%;
    padding: 16px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .earnMoneyBlock__image {
    max-width: 335px;
    left: calc(50% - 167.5px);
  }
  .aboutSurveys {
    flex-direction: column;
    gap: 60px;
    padding-bottom: 135px;
    background-position: 50% 80%;
  }

  .aboutSurveys__infoWrapper {
    width: 100%;
    max-width: 530px;
    align-self: flex-end;
  }
  .aboutSurveys__infoBlock {
    margin: 0 auto;
    align-items: flex-start;
    padding-left: 20px;
  }
  .aboutSurveys__title {
    font-family: "ALS Haus";
    font-size: 24px;
    line-height: 32px;
    max-width: 100%;
    margin-left: 0;
  }
  .aboutSurveys__description {
    font-size: 16px;
    line-height: 24px;
    max-width: 90%;
    margin-left: 0;
  }
  .aboutSurveys__description-medium {
    padding-right: 0;
  }
  .aboutSurveysContainer {
    background-size: 100% 42.5%;
    background-position: right 100%;
  }
  .makeCharityBlock {
    width: 100%;
    padding-right: 20px;
  }
  .infoCard__title {
    font-size: 20px;
    line-height: 26px;
  }
  .aboutSurveys__infoWrapper:hover {
    box-shadow: initial;
  }

  .aboutSurveys__infoWrapper:hover .aboutSurveys__infoCard {
    transform: initial;
  }
  .infoCard__description {
    max-width: 188px;
    font-size: 12px;
    line-height: 19px;
  }
  .link__text {
    font-size: 12px;
    line-height: 16px;
  }
  .link__icon {
    width: 10px;
    height: 8px;
    margin-left: 10px;
  }
  .simpleAsOneBlock__infoCards {
    grid-template-columns: minmax(280px, 520px);
    grid-template-rows: auto;
    max-width: 90%;
  }
  .simpleAsOneBlock__title {
    max-width: 90%;
    text-align: center;
  }
  .simpleAsOneBlock__text {
    max-width: 90%;
  }
  .talkingAboutBlockContainer {
    padding: 40px 5% 16px 5%;
    margin-top: 40px;
    min-height: 506px;
  }

  .talkingAboutBlock {
    max-height: 506px;
  }

  .aboutSurveys__infoText {
    padding: 16px;
  }
  .talkingAboutBlock__title {
    font-size: 32px;
    line-height: 42px;
  }
  .talkingAboutBlock__description {
    margin-top: 4px;
    font-size: 16px;
    line-height: 19px;
  }
  .talkingAboutBlock__counterBlock {
    margin-top: 40px;
  }
  .talkingAboutBlock__counterTitle {
    font-size: 16px;
    line-height: 19px;
  }
  .counter {
    font-size: 64px;
    font-weight: 500;
    line-height: 85px;
    margin-top: 8px;
    height: 64px;
  }
  .talkingAboutBlock__counterText {
    font-size: 20px;
    line-height: 32px;
    margin-top: 0;

    padding-bottom: 141px;
  }
  .compainsBlock {
    grid-template-areas: "info info" "slider slider" "btnGroup btnGroup";
    justify-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 155px;
    gap: 28px;
  }
  .compainsBlock__header {
    max-width: calc(100vw - 40px);
  }
  .compainsBlock__caption {
    font-size: 20px;
    line-height: 27px;
  }
  .compainsBlock__title {
    font-size: 32px;
    line-height: 42px;
    margin-top: 8px;
  }
  .compainsBlock__description {
    color: var(--gray-color);
    margin-top: 4px;
    font-family: "Inter";
    font-size: 20px;
    line-height: 30px;
  }
  .compainsBlock__btnGroup {
    width: 100%;
    flex-direction: column;
    gap: 32px;
    align-items: stretch;
    padding: 0 20px;
  }

  .loginForm__title {
    padding: 0;
  }

  .loginForm__description {
    padding: 0;
  }

  .compainsBlock__secondaryBtn {
    width: 100%;
  }

  .compainsBlock__primaryBtn {
    width: 100%;
    padding: 20px 32px;
    font-size: 20px;
    line-height: 24px;
    height: 64px;
  }
  .getPaidBlock {
    width: 100%;
    min-height: fit-content;
    height: 715px;
    max-height: 715px;
    background-position: center 95%;
    background-size: 100%;
    background-image: url("./images/GetPaidMobile.png");
  }

  .getPaidBlock__title {
    margin-top: 280px;
    max-width: 230px;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
  }
  .getPaidBlock__description {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 12px;
  }
  .getPaidBlock-btn {
    margin-top: 32px;
  }
  .footer {
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    text-align: left;
  }

  .footer__contactBtn {
    width: 170px;
    border-radius: 200px;
    padding: 20px 32px;
    font-size: 20px;
    line-height: 24px;
  }

  .footerContainer {
    position: relative;
    height: fit-content;
    padding: 35px 0 50px 0;
    width: 100%;
  }
  .footer__contact {
    margin-top: 32px;
    gap: 20px;
    align-items: flex-start;
    order: 3;
  }

  .socialIcon {
    width: 32px;
    height: 32px;
  }

  .footer__socialBlock {
    order: 1;
    max-width: 100%;
  }
  .footer__socialText {
    max-width: 155px;
  }
  .footer__documents {
    order: 2;
    margin-top: 32px;
  }
  .footer__docLink {
    font-size: 20px;
    line-height: 24px;
  }
  .socialMediaLinks {
    gap: 55px;
  }
  .slider {
    max-height: 737px;
    height: 737px;
    width: 100vw;
  }
}
@media screen and (max-width: 540px) {
  .primaryBtn-large {
    align-self: flex-start;
  }
  .easyToEarnBlock__adBlock {
    background-size: 100vw 570px;
  }
  .slider__info {
    text-align: left;
  }
  .slider__caption,
  .slider__title,
  .slider__description {
    max-width: 335px;
  }
}
