:root {
  box-sizing: border-box;
  --purple-color: #b68dff;
  --blue-color: #34dbff;
  --yellow-color: #ffdb22;
  --green-color: #80de5f;
  --pink-color: #ff9bcb;
  --white-color: #ffffff;
  --black-color: #000000;
  --gray-middle-color: #a8a8a8;
  --dark-gray: #919fa9;
  --deep-blue-color: #170586;
  --gray: #898989;
  --light-gray: #e2e6e9;
  --red-color: #ff4141;
  --silver-color: #f8f8f8;
  --silver-thin-color: #fdfdfd;
  --header-1: 400 90px/1 sans-serif;
  --header-2: 400 64px/68px sans-serif;
  --header-3: 400 44px/56px sans-serif;
  --header-4: 500 24px/31.2px sans-serif;
  --caption: 400 24px/31.87px sans-serif;
  --paragraph: 400 20px/28px "Inter", sans-serif;
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  src: url("/fonts/Inter/static/Inter-Regular.ttf") format("ttf");
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

.content {
  width: 100%;
  text-overflow: ellipsis;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--black-color);
}

.primaryBtn {
  color: var(--white-color);
  background-color: var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0;
  border-radius: 200px;
}

.primaryBtn-large {
  width: 213px;
  padding: 24px 40px;
  font: 600 24px/29.05px "Inter", sans-serif;
}

.primaryBtn-medium {
  width: 175px;
  padding: 20px 32px;
  font: 600 20px/24.2px "Inter", sans-serif;
}

.primaryBtn-small {
  width: 151px;
  padding: 12px 20px 8px 20px;
  font: 400 16px/21.25px sans-serif;
}

.primaryBtn-disabled {
  background-color: var(--white-color);
  color: var(--dark-gray);
}

.secondaryBtn {
  color: var(--black-color);
  background-color: var(--white-color);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.secondaryBtn:hover,
.secondaryBtn:active {
  color: var(--white-color);
  background-color: var(--purple-color);
}

.form-checkbox {
  width: 24px;
  height: 24px;
  border: 1px solid var(--light-gray);
  border-radius: 6px;
}

.form-checkbox input {
  display: none;
}

.link {
  color: var(--black-color);
  font: 400 16px/21.25px sans-serif;
  text-decoration: none;
  cursor: pointer;
  min-width: 55px;
}

.link:hover,
.link:active {
  font-weight: 700;
}

.form-checkbox:hover,
.form-checkbox:focus {
  border-color: var(--purple-color);
}

.form-checkbox:checked {
  background-image: url("data:image/svg+xml;utf8,<svg width='24' height='24' viewBox='002424' fill='none' xmlns='http://www.w3.org/2000/svg'><rect width='24' height='24' rx='6' fill='%23B68DFF'/></svg>");
}

.formInput {
  width: 422px;
  border: 1px solid var(--light-gray);
  border-radius: 16px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  padding: 20px;
}

.formInput:hover,
.formInput:focus {
  outline: none;
  box-shadow: 0 0 2px 0 var(--purple-color);
}

.formInput:invalid {
  outline: none;
  box-shadow: 0 0 2px 0 var(--red-color);
}

.headerContainer {
  width: 100vw;
  background-color: var(--purple-color);
  min-height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  max-width: 1360px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__navigation {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__navigation__logo {
  padding-right: 20px;
}

.header__loginBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.earnMoneyBlockContainer {
  min-height: 647px;
  width: 100vw;
  background-color: var(--purple-color);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.earnMoneyBlock {
  width: 100%;
  max-width: 1360px;
  height: 647px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.earnMoneyBlock__description {
  padding-right: 135px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.earnMoneyBlock__description__header {
  margin-top: 60px;
  font: var(--header-1);
  color: var(--white-color);
}

.earnMoneyBlock__description__text {
  margin-top: 32px;
  font: var(--caption);
  color: var(--white-color);
  padding-bottom: 50px;
}

.earnMoneyBlock__imageContainer {
  position: relative;
}

.earnMoneyBlock__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-clip-path: url(#my-clip-path);
  clip-path: url(#my-clip-path);
}

.svg {
  position: absolute;
  width: 0;
  height: 0;
}

.aboutSurveysContainer {
  width: 100vw;
  min-height: 1080px;
  background-image: url("./images/Hand.png"), url("./images/Rose.png");
  background-size: 50% 55%, 50% 65%;
  background-repeat: no-repeat;
  background-position: left 53%, right 53%;
}

.aboutSurveys {
  margin: 0 auto;
  padding-top: 135px;
  min-height: 1080px;
  width: 100%;
  max-width: 1360px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 240px;
}

.aboutSurveys__infoBlock {
  display: flex;
  flex-direction: column;
  max-width: 410px;
}

.makeCharityBlock {
  max-width: 583px;
}

.aboutSurveys__title {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
}

.aboutSurveys__description {
  margin-top: 12px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0em;
  color: var(--gray);
  padding-bottom: 44px;
}

.aboutSurveys__description-medium {
  padding-right: 173px;
}
.aboutSurveys__easyToEarnBlock__adBlock {
  max-width: 410px;
  background-image: url("./images/Blue.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutSurveys__easyToEarnBlock__adBlock__mockup {
  margin-top: 24px;
  -webkit-clip-path: url(#adBlockMask);
  clip-path: url(#adBlockMask);
}

.aboutSurveys__infoCard {
  background-image: url("./images/Charity.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  min-height: 605px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  transition: all 0.5 ease-in;
  border-radius: 32px;
}

.aboutSurveys__infoCard:hover {
  background-size: 90% 90%;
}

.aboutSurveys__infoText {
  color: var(--silver-color);
  padding: 32px;
  letter-spacing: 0em;
}

.aboutSurveys__infoCard__title {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
}

.aboutSurveys__infoCard__description {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: var(--white-color);
  max-width: 322px;
}

.aboutSurveys__infoCard__descriptionBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboutSurveys__infoCard__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--silver-thin-color);
  text-decoration: none;
}

.aboutSurveys__infoCard__link__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
}

.aboutSurveys__infoCard__link__icon {
  padding-left: 16px;
}

.simpleAsOneBlock {
  width: 100%;
  min-height: 528px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.simpleAsOneBlock__title {
  font: var(--header-3);
  color: var(--black-color);
}

.simpleAsOneBlock__text {
  font: var(--paragraph);
  color: var(--gray-middle-color);
  margin-top: 8px;
}

.simpleAsOneBlock__infoCards {
  width: 100%;
  margin-top: 44px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 20px;
}

.simpleAsOneBlock__infoCard {
  height: 228px;
  background-color: var(--silver-color);
  background-repeat: no-repeat;
  background-position: right bottom;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
}

.simpleAsOneBlock__infoCard:hover {
  transition: 0.3 all ease;
  transform: scale(1.05);
}

.simpleAsOneBlock__infoCard-first {
  background-image: url("./images/FirstCard.png");
}

.simpleAsOneBlock__infoCard-second {
  background-image: url("./images/SecondCard.png");
}

.simpleAsOneBlock__infoCard-third {
  background-image: url("./images/ThirdCard.png");
}

.simpleAsOneBlock__infoCard-forth {
  background-image: url("./images/ForthCard.png");
}

.simpleAsOneBlock__cardTitle {
  font-size: 32px;
  max-width: 192px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--deep-blue-color);
}

.simpleAsOneBlock__cardText {
  font-family: "Inter", sans-serif;
  max-width: 192px;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
